.container {
  position: relative;
  width: 500px; height: 572px;
  color: white;
}

.pic {
  position: absolute;
  opacity: 0.5;
}

.pic:hover {
  position: absolute;
  opacity: 1;
}

.overlay {
  position: absolute;
  pointer-events:none;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  font-size: 80px;
}

.roundedbox {
  position: absolute;
  width: 90%;
  height: 25%;
  left: 5%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: ghostwhite;
  opacity: 0.9;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
}

.rewardtext {
  pointer-events:none;
  position: absolute;
  color: black;
}

.cointext {
  color: orange;
}
	
.pic:hover ~ .overlay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  font-size: 40px;
}

.pic:hover ~ .roundedbox {
  visibility:hidden;
}
